<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Item</title>
    {% include './cdn.html' %}
</head>

<body>
    <div id="wrapper">
            <button class="btn btn-success"><a href="/dashboard">Home</a></button>
            <button class="btn btn-warning"><a href="/logout">Logout</a></button>
        <div id ="content">
                <h2>{{ wish.item }}</h2>
                
                <br>
                <br>
                <div id="content">
        <h4>Users who added this product/item under their wish list:</h4>
        {% for wisher in wish.wishers.all %}
        <ul>
            
            <li>{{ wisher.name }} </li>
            
        </ul>
        {% endfor %}
    </div>
        </div>
</body>

</html>